html {
  --google-blue-500-rgb: 66, 133, 244;
  --hover-bg-color: rgba(var(--google-blue-500-rgb), .04);
}


#openToolBtn {
  display: inline-block;
  border: 1px solid #dadce0;
  display: block;
  font-size: 14px;
  padding: 8px 16px;
  text-align: center;
  color: #1a73e8;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
  background-color: #fff;
}

#openToolBtn:hover {
  background-color: var(--hover-bg-color);
}