.App {
  padding: 0 20px 20px 20px;
}
.form_item {
  display: inline-block;
  margin-right: 20px;
}
label > span {
  display: inline-block;
  vertical-align: top;
  line-height: 36px;
  min-width: 100px;
  margin-right: 6px;
  text-align: right;
}
input, textarea, select {
  font-size: 14px;
  height: 36px;
  box-sizing: border-box;
  width: 300px;
  border: 1px solid rgb(222, 224, 224);
  transition: border-color 0.2s ease 0s;
  border-radius: 2px;
  font-family: Roboto, "Helvetica Neue", Helvetica, "Segoe UI", Arial, sans-serif;
  color: rgb(63, 64, 64);
  letter-spacing: 0.2px;
  padding: 0px 12px;
  line-height: normal;
  margin-bottom: 10px;
  border-radius: 3px;
}
input:hover, textarea:hover {
  box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
}
select {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  background-image: url("data:image/svg+xml;utf8,<svg fill='gray' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 5px;
  border: 1px solid #dfdfdf;
  border-radius: 2px;
  margin-right: 2rem;
  padding-right: 2rem;
}
button:hover {
  box-shadow: 0 2px 5px 1px rgba(90, 85, 92, 0.199);
}
textarea {
  height: auto;
  max-height: 100px;
}
.columns {
  display: flex;
}
.columns > div {
  flex: 1;
}
.btns {
  margin-top: 10px;
}
button {
  font-size: 14px;
  line-height: 20px;
  padding: 0px 20px;
  margin: 0px;
  height: 36px;
  min-width: 112px;
  font-weight: 400;
  font-family: Roboto, "Helvetica Neue", Helvetica, "Segoe UI", Arial, sans-serif;
  border-radius: 2px;
  letter-spacing: 0.4px;
  box-shadow: none;
  text-shadow: none;
  text-transform: capitalize;
  border: none;
  cursor: pointer;
  outline-offset: -5px;
  color: white;
  background-color: rgb(0, 97, 223);
  margin-right: 4px;
}
button:disabled {
  background-color: #afafaf !important;
  cursor: not-allowed;
  box-shadow: none !important;
}
#claim_btn {
  background-color: red;
}
strong {
  color: red;
}
.tip {
  text-align: center;
}