html, body {
  height: 100%;
  background-color: #ddf2f763;
}
body {
  padding: 0.5rem;
  box-sizing: border-box;
}
.App {
  color: #333;
  font-family: "Open Sans",Helvetica,Arial,sans-serif;
}
.form_item {
  display: inline-block;
  margin-right: 20px;
  
}
.form_wrapper * {
  font-size: 14px !important;
}
label > span {
  display: inline-block;
  vertical-align: middle;
  line-height: 36px;
  margin-right: 10px;
  text-align: right;
}
.columns {
  display: flex;
}
.columns > div {
  flex: 1;
}
strong {
  color: red;
}
.tip {
  text-align: center;
}
.form_wrapper {
  width: 100%;
  max-width: 720px;
  text-align: center;
  margin: 0 auto;
  text-align: left;
}

img.avatar {
  width: 30px;
  height: 30px;
  vertical-align: middle;
  /* border-radius: 50%; */
}

hr {
  margin-top: 0;
}

.results {
  height: calc(100vh - 244px);
}

.MuiSelect-select.MuiSelect-outlined, .MuiOutlinedInput-input {
  font-size: 14px !important;
  line-height: 20px !important;
}