html, body {
  height: 100%;
  background-color: #ddf2f763;
}
body {
  padding: 10px 20px;
  box-sizing: border-box;
}
.App {
  color: #333;
  font-family: "Open Sans",Helvetica,Arial,sans-serif;
}
.form_item {
  display: inline-block;
  margin-right: 20px;
  
}
.form_wrapper * {
  font-size: 14px !important;
}
label > span {
  display: inline-block;
  vertical-align: middle;
  line-height: 36px;
  margin-right: 10px;
  text-align: right;
}
.columns {
  display: flex;
}
.columns > div {
  flex: 1;
}
strong {
  color: red;
}
.tip {
  text-align: center;
}
.form_wrapper {
  width: 100%;
  max-width: 720px;
  text-align: center;
  margin: 0 auto;
  text-align: left;
}

img.avatar {
  width: 30px;
  height: 30px;
  vertical-align: middle;
  /* border-radius: 50%; */
}
#btns {
  display: inline-block;
  margin-right: 20px;
}
button {
  margin-top: 4px;
}
hr {
  margin-top: 0;
}

.results {
  height: calc(100vh - 240px);
}

@media screen and (max-width: 800px) {
  .App label > span {
    text-align: right;
    width: 100px;
  }
  .pc_btns {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .App input, .App select {
    width: 100% !important;
    margin-top: 0;
  }
  .App .form_item {
    margin-right: 0;
    display: block;
  }
  .App label > span {
    text-align: center !important;
    width: auto;
  }
  #logistic_btn {
    margin-top: 10px;
    width: 100%;
  }
}

.MuiSelect-select.MuiSelect-outlined, .MuiOutlinedInput-input {
  font-size: 14px !important;
  line-height: 20px !important;
}